apiVersion: apps/v1
kind: Deployment
metadata:
  name: llmops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: llmops-app
  template:
    metadata:
      labels:
        app: llmops-app
    spec:
      containers:
      - name: llmops-app
        image: us-central1-docker.pkg.dev/gen-lang-client-0729539659/llmops-repo/llmops-app:latest
        ports:
        - containerPort: 5000
        env:
        - name: GROQ_API_KEY
          valueFrom:
            secretKeyRef:
              name: llmops-secrets
              key: GROQ_API_KEY

---

apiVersion: v1
kind: Service
metadata:
  name: llmops-service
spec:
  selector:
    app: llmops-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: LoadBalancer


# gcp key (base64 encoded)
# ewogICJ0eXBlIjogInNlcnZpY2VfYWNjb3VudCIsCiAgInByb2plY3RfaWQiOiAic2luZ3VsYXItZ2xvdy0yNzExMTMiLAogICJwcml2YXRlX2tleV9pZCI6ICIxZWM3YTJjYzcxMzZhNmViZDA3ODIyOGZhMmFkNmVkNGM2NzkwMWU0IiwKICAicHJpdmF0ZV9rZXkiOiAiLS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tXG5NSUlFdlFJQkFEQU5CZ2txaGtpRzl3MEJBUUVGQUFTQ0JLY3dnZ1NqQWdFQUFvSUJBUUN1cGFFK0pEc2Q1YWhOXG45cDNUbCtybE95TWN6RWN6N0p6MzhNMWk0OTkyRSs4RzhkT0tZSUlIOFJwaTJDZkdzRlE3NUsybHVpdjNRbFh2XG50QlU0azRON29BYVkyWWRaT25kUGJlaVhIWmd3VDNITkp0QmxKWnhIaXdSZ2hiMHpISFczYWZjNDlLTUdwdy94XG5CQ0RnUTlBZE1vczRlRk9NY3VuS1RsWmVpOHZJSm5QN25MYTRFbnN3NSs1akxYMDEydGR6aTQ2Z2tBTE9YYm9nXG50YURRZ0kyZU1lV3pneEh6LzdjaUk5ejJ6R2pGMmozV28yWE1TU2llbTJjNzBRVDArd0VBRjQ1Qi9DSEE5MTN6XG5TZzVaRjRsYjlSN0pSbUIxSWViWGdVUVdsOFl4ci81cnErYkxOU2trdlBmL1Q2V2dObHZGSGc1ZUdiMjVMeVE0XG5aa3FzZVhnN0FnTUJBQUVDZ2dFQUE3MElUclV4TDlJSFM3UXJvL0FFTEJqOVNwSUV2QXcvQWlqNVliS09JN2xiXG5HVWdhcW5CcmFnVGU3NFF4RFJKTklsbkh6OG5xTlBSZFdpVkpJWGxJaUVJdlY1MEYxU3hHeGcrRkkyNjVUUXhnXG5Mb0lzc0RobzJnUEk3bWdlZUIzQy9OZHN3RXlCc21OUlJhaGg3Nmd3TDZNYlhmdlJaRjltWmdvL0VHYStqR1pPXG5jUVRJVmtITzF6WEpUa3NBd2lBWGtNOUV3R2JaOVlBa0NlWVkvZTNRUnR6bktHUGhQa1BDZUNXYWlrZEJyK3RjXG5zSWVvbTdDMmxONFRBK2hVOW03NGRoelZ0dVRlMjVrLys2SXorRkdBS3huYUp3N1RqQksydENncWxCanVIdjhaXG5xd0NTRzFkVHFsUEFib0cwT0JOQ3ZQT1ZXYXQxNzF0WHhPbEYxOGRPVlFLQmdRRFhqSGo3Z3h3N3F2M3A5TUdTXG5QalhaS1hnSHdTNDRZNVdSOWx6djVjeHhkZGQ0TUJGRW9vWFU5MmJ0a09EOXd6SHNWN2VQN2VQNUpCVitEU2NXXG5YVDZEd3hHd2VQOFV6WjI2TmNOOW1neFJQTFJUaWFneWZoQjdkaWlzWk5kc2xocEhYWmVxRTlKbjVCVkhydnZsXG5ycXlmRlZTVXArS0s4YU5vYVdRdXkxNzNGd0tCZ1FEUGJDRndZWFRkUmVCT0c5UUVManJEUkpncWx2OC9TZE0zXG5pUWFzVkE5VXlCKzA2ZWMwK3lqNUV6NCsyVnR1eEh4RmJiUStVNEM5VEVHUWorblV0ajYzamRlUUVFeEJ4UVJOXG5XQlZsR0o5amtwWGR4c1NuYnNveHZtL3dubGVKYW9xeFovVXgzU1BmRm0rQmZHcGYxSVZ0MWZXQnRLYVRaVkxMXG45SVIwSU43K2ZRS0JnQTk2Vk0ycXNvSk9Xd0ZMeEFLZVdQdUpFTWR0eGNYaTBNQzBjaVAvMmxoalg5K1BoQTNyXG5wYlNQTjJManZtUTZlZ0ZBb3p2QWwxZ3lrU0NHRFVKNzI1dFdqSlNoZTUrZ3pDeXM0NmJIUXc4cVRzQ1k1KzBJXG5SR0s1TDE2QnR6NWk0T3d5K2tzS05WZWtkeXE0ay9vQU93RUpaUk52b3NMYmF5SjZQdWxsVFNKdEFvR0FLZkgrXG43Ui80SndzTGFpQThoci9taURobDRTNzUzUTJMMWc0eXVFU2plUXlqUk0yTVFPMk5ncGorbkcwT0RWOVVsaUd5XG5NbXhtZTJGaFhOK05kTU9KK1VxSXpneE5yM3NzL0lzVWdJWXpMVXFtWGR2bFJzcWp2dDE0KzVxNXJ3Tkptc2lnXG5ELzVkVTY3UXk4bWlKVkR2enA5VzcyemR4cTdWeUlMaENpN2ZpVzBDZ1lFQWo3MzMwYVFkcHByak05bTNTSGFCXG5TMWV0alJDekRnYm5la1N0c1g3Y1dVRllGb2RDREdSRC9OWHUzTHN5Rk1LUVhDOTB0bW80clk0d2JEOFZzRHljXG5JdHU4WTBUb2NTVEI5dnFYUkR1OEQ2MkhjZlNMeS9zc3kzWWNVaUl6TTdLbGxKdlRhQXBCcUMwSjlGMFFvOXdwXG5PNk5iQXplUDNaWE54L2FVY0Y1QkNiUT1cbi0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS1cbiIsCiAgImNsaWVudF9lbWFpbCI6ICJjZWxlYnJpdHlAc2luZ3VsYXItZ2xvdy0yNzExMTMuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLAogICJjbGllbnRfaWQiOiAiMTA5MTIzOTU0NDc0NjQ1MDUxODcwIiwKICAiYXV0aF91cmkiOiAiaHR0cHM6Ly9hY2NvdW50cy5nb29nbGUuY29tL28vb2F1dGgyL2F1dGgiLAogICJ0b2tlbl91cmkiOiAiaHR0cHM6Ly9vYXV0aDIuZ29vZ2xlYXBpcy5jb20vdG9rZW4iLAogICJhdXRoX3Byb3ZpZGVyX3g1MDlfY2VydF91cmwiOiAiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3YxL2NlcnRzIiwKICAiY2xpZW50X3g1MDlfY2VydF91cmwiOiAiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vcm9ib3QvdjEvbWV0YWRhdGEveDUwOS9jZWxlYnJpdHklNDBzaW5ndWxhci1nbG93LTI3MTExMy5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsCiAgInVuaXZlcnNlX2RvbWFpbiI6ICJnb29nbGVhcGlzLmNvbSIKfQo=